{{>header}}
<div class="conatiner my-5 text-center">
    <div class="row justify-content-center align-items-center m-0 my-md-0 my-5 flex-column" style="min-height:70vh">
        <div class="col-md-5 col-9">
            <img src="img/404error.jpg" alt="Abhishek" class="img-fluid shadow-lg">
        </div>
        <div class="col-md-5 col-12 mt-4">
            <h2><span class="text-info">Oops!</span> Page not Found</h2>
        </div>
    </div>
</div>
{{>footer}}